# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.egg-info/
dist/
.venv/
venv/
conda-meta/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Modèles lourds (trop grands pour GitHub)
models/*.joblib
models/**/*.joblib

# Données sensibles
data/raw/
data/synthetic/*.csv

# IDE
.vscode/settings.json
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db